    |===
        |파라미터|타입|필수 여부|설명

    {{#parameters}}
        |{{name}}
        |{{type}}
        |{{#optional}}선택{{/optional}}{{^optional}}필수{{/optional}}
        |{{description}}

    {{/parameters}}
        |===
