    |===
        |파트 이름|타입|필수 여부|설명

    {{#requestParts}}
        |{{name}}
        |{{type}}
        |{{#optional}}선택{{/optional}}{{^optional}}필수{{/optional}}
        |{{description}}

    {{/requestParts}}
        |===
